#include <stdbool.h>
#include <stdlib.h>

#include "mort/cpu.h"

{% for op in opcodes -%}
{% if op.jump -%}
bool {{ op.tag }}(LR35902_t *cpu, uint8_t *bytes) {
  /* todo {{ key }} */
  fputs("'{{ op.tag }}' in '{{ filename }}' not implemented", stderr);
  exit(-1);

  /*
  if (cpu->registers.f & FLAG_{{ op.operands[0].name }}) {
      return true;
  }
  */

  return false;
}

{% else -%}
bool {{ op.tag }}(LR35902_t *cpu, uint8_t *bytes) {
  /* todo {{ op.key }} */
  fputs("'{{ op.tag }}' in '{{ filename }}' not implemented", stderr);
  exit(-1);

  return false;
}

{% endif -%}
{% endfor -%}
