#include <stdlib.h>

#include "mort/cpu.h"
#include "mort/instructions.h"


static const Opcode opcodes[];

Opcode GetOpcode(uint8_t opcode) {
  return opcodes[opcode];
}

static const Opcode opcodes[] = {
{%- for op in opcodes %}
    {
      .bytes = {{ op.bytes }},
      .instruction = {{ op.tag }},
      .cycles = {
        .jumped = {{ op.jumped }},
        .ignore = {{ op.ignore }},
      },
      .mnemonic = "{{ op.mnemonic }}",
    },
{%- endfor %}
};
