#include <stdlib.h>

#include "mort/cpu.h"

const Opcode opcodes[];

inline Opcode Opcode_Get(uint8_t opcode) {
  return opcodes[opcode];
}

const Opcode opcodes[] = {
{%- for op in opcodes %}
    {
      .bytes = {{ op.bytes }},
      .instruction = {{ op.tag }},
      .cycles = {
        .jumped = {{ op.jumped }},
        .ignore = {{ op.ignore }},
      },
      .mnemonic = "{{ op.mnemonic }}",
    },
{%- endfor %}
};
