#include <stdlib.h>

#include "mort/cpu.h"
#include "mort/instructions.h"


static const Opcode opcodes[];

Opcode GetOpcode(uint8_t opcode) {
  return opcodes[opcode];
}

static const Opcode opcodes[] = {
{%- for opcode in extracted %}
{%- if not opcode['0xCB'] %}
    {
      .bytes = {{ opcode.bytes }},
      .cycles = {
        .jumped = {{ opcode.cycles.jumped }},
        .ignore = {{ opcode.cycles.ignore }},
      },
      .flags = {
        .z = '{{ opcode.flags.Z }}',
        .n = '{{ opcode.flags.N }}',
        .h = '{{ opcode.flags.H }}',
        .c = '{{ opcode.flags.C }}',
      },
      .instruction = {{ opcode.slug }},
      .mnemonic = "{{ opcode.mnemonic }}",
    },
{%- endif %}
{%- endfor %}
};
