#include <stdbool.h>

{% for op in opcodes -%}
{% if op.jump -%}
bool cpu_{{ op.tag }}(LR35902_t *cpu, uint8_t *bytes) {
  /* todo {{ key }} */
  fputs("'{{ op.tag }}' in '{{ filename }}' not implemented", stderr);
  exit(-1);

  /*
  if (cpu->registers.f & FLAG_{{ op.operand }}) {
      return true;
  }

  return false;
  */
}

{% else -%}
bool cpu_{{ op.tag }}(LR35902_t *cpu, uint8_t *bytes) {
  /* todo {{ op.key }} */
  fputs("'{{ op.tag }}' in '{{ filename }}' not implemented", stderr);
  exit(-1);

  return false;
}

{% endif -%}
{% endfor -%}
